@model GlobalAsset.Models.Package
@{
    Layout = null;
}

<section class="content">
    <h2>Deposits</h2>
    <div class="row">
        <input type="hidden" id="hdnPackID" value="@(Model.PackageID)" />
        <input type="hidden" id="hdnAmount" value="@(Model.Investment)" />
        <input type="hidden" id="hdnMinAmount" value="@(Model.MinInvestment)" />
        <input type="hidden" id="hdnMaxAmount" value="@(Model.MaxInvestment)" />
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-@(Model.PackageColor)">
                    <div class="widget-user-image">
                        <img class="img-circle" src="../Uploads/ProfileImages/default-user.jpg" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">@(Model.Name)</h3>
                    <h5 class="widget-user-desc">@(Model.SubHeading)</h5>
                </div>
                <div class="box-body">
                    <ul class="nav nav-stacked">
                        <li><a href="javascript:return false;">Investment <span class="pull-right badge bg-blue">@(Model.InvestmentText)</span></a></li>
                        <li><a href="javascript:return false;">Interest <span class="pull-right badge bg-aqua">@(Model.Interest)%</span></a></li>
                        <li><a href="javascript:return false;">Duration <span class="pull-right badge bg-green">@(Model.Duration) Days</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-warning">
                <form ng-submit="buypackage()">
                    <div class="box-header with-border">
                        <h3 class="box-title">Confirm Deposit Details</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="txtDepositAmount">Depositing Amount</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                        <input type="text" class="form-control" id="txtDepositAmount" ng-model="amount" placeholder="Enter depositing amount" required @(Model.PerDayPackage.Value ? "disabled=\"disabled\" value=" + Model.Investment + "" : "")>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtPayementMethod">Payment Method</label>
                                    <select class="form-control" ng-model="paymentMethod" required>
                                        <option value="">-- Select Method --</option>
                                        <option value="Neteller">Neteller</option>
                                        <option value="Skrill">Skrill</option>
                                        @*<option value="bitcoin">BitCoin</option>*@
                                    </select>
                                </div>
                                
                                <div ng-if="paymentMethod=='Neteller'">
                                    <hr />
                                    <h4>Neteller Payment Details</h4>
                                    <ol>
                                        <li>Please, login to your Neteller account <a href="https://www.neteller.com" target="_blank">https://www.neteller.com</a></li>
                                        <li>
                                            Send your deposit to our official Neteller account: <span class="text-green">accounts@cryptinvestmentstech.com</span>
                                        </li>
                                        <li>Then indicate transaction batch number and your Neteller account ID in the form below.</li>
                                        <li>Deposit will be added in short time by operator.</li>
                                    </ol>
                                    <hr />
                                    <div class="form-group">
                                        <label for="txtTransactionID">Transaction ID</label>
                                        <input type="text" class="form-control" id="txtNetTransactionID" placeholder="Enter transaction id" required ng-model="nettransactionid">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtNetellerAccountEmail">Neteller Email Used For Transaction</label>
                                        <input type="email" class="form-control" id="txtNetellerAccountEmail" placeholder="Enter neteller email" required ng-model="nettransactionemail">
                                    </div>
                                </div>

                                <div ng-if="paymentMethod=='Skrill'">
                                    <hr />
                                    <h4>Skrill Payment Details</h4>
                                    <ol>
                                        <li>Please, login to your Skrill account <a href="https://www.skrill.com" target="_blank">https://www.skrill.com</a></li>
                                        <li>
                                            Send your deposit to our official Skrill account: <span class="text-green">info@cryptinvestmentstech.com</span>
                                        </li>
                                        <li>Then indicate transaction batch number and your Skrill account ID in the form below.</li>
                                        <li>Deposit will be added in short time by operator.</li>
                                    </ol>
                                    <hr />
                                    <div class="form-group">
                                        <label for="txtTransactionID">Transaction ID</label>
                                        <input type="text" class="form-control" id="txtSkrTransactionID" placeholder="Enter transaction id" required ng-model="skrtransactionid">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtSkrillAccountEmail">Skrill Email Used For Transaction</label>
                                        <input type="email" class="form-control" id="txtSkrillAccountEmail" placeholder="Enter skrill email" required ng-model="skrtransactionemail">
                                    </div>
                                </div>

                                @*<div ng-if="paymentMethod=='bitcoin'">
                                    <hr />
                                    <h4>Neteller Payment Details</h4>
                                    <ol>
                                        <li>Please, login to your Neteller account <a href="https://www.neteller.com" target="_blank">https://www.neteller.com</a></li>
                                        <li>
                                            Send your deposit to our official Neteller account: <span class="text-green">accounts@cryptinvestmentstech.com</span>
                                        </li>
                                        <li>Then indicate transaction batch number and your Neteller account ID in the form below.</li>
                                        <li>Deposit will be added in short time by operator.</li>
                                    </ol>
                                    <hr />
                                    <div class="form-group">
                                        <label for="txtTransactionID">Transaction ID</label>
                                        <input type="text" class="form-control" id="txtNetTransactionID" placeholder="Enter transaction id" required ng-model="nettransactionid">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtNetellerAccountEmail">Neteller Email Used For Transaction</label>
                                        <input type="email" class="form-control" id="txtNetellerAccountEmail" placeholder="Enter neteller email" required ng-model="nettransactionemail">
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn bg-yellow">
                                    Save Details
                                </button>
                            </div>
                        </div>
                        
                        @*<button type="submit" class="btn btn-warning">
                            <i class="fa fa-floppy-o"></i>
                            &nbsp;Save Details
                        </button>*@
                    </div><!-- box-footer -->
                </form>
                <div class="overlay" ng-if="showLoading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
    

</section>
